### To get more API calls

Hello!  I'm a recent Physics grad from UC Berkeley whose very interested in Data Science.  I just want to become a more informed voter, learn some new Python tricks, and perhaps share my results freely with friends (I'd give you all credit for providing the data).  For fun I've been looking at Kaggle's US Census data, the analysis I do will probably be similar to what you see here (https://github.com/pstetz/Kaggle/tree/master/in_progress/census).  Also you can see my current work on the data you have provided me already here (https://github.com/pstetz/misc)

In [1]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns
sns.set()
%matplotlib inline
pd.set_option('display.max_columns', None)

In [4]:
elec = pd.read_csv("data/2018.csv")
elec = elec.drop(["Candidate:id", "request", "Candidate:token", 
           "Candidate_Entity:token", "Candidate_Entity:id", 
           "Election_Status:token", "Status_of_Candidate:token",
           "Status_of_Candidate:id", "Specific_Party:token", "Specific_Party:id",
           "Incumbency_Status:id", "General_Party:token", "General_Party:id", 
           "Election_Jurisdiction:token", "Election_Jurisdiction:id",
           "Election_Year:token", "Incumbency_Status:token", "Office_Sought:id",
           "Office_Sought:token", "Election_Type:id", "Election_Type:token", 
           "Candidate_Entity", "Election_Status:id", "Election_Year:id"], axis=1)
elec.describe()

       Election_Year  #_of_Records       Total_$
count           89.0     89.000000  8.900000e+01
mean          2018.0    863.089888  1.007048e+06
std              0.0   3098.431996  3.177314e+06
min           2018.0      0.000000  0.000000e+00
25%           2018.0      0.000000  0.000000e+00
50%           2018.0      6.000000  1.273995e+04
75%           2018.0    423.000000  6.570550e+05
max           2018.0  26504.000000  2.488648e+07

In [5]:
elec.head()

,Candidate,Election_Status,Status_of_Candidate,Specific_Party,General_Party,Election_Jurisdiction,Election_Year,Election_Type,Office_Sought,Incumbency_Status,#_of_Records,Total_$
0,"NEWSOM, GAVIN",Pending-Top Two Primary,Pending,DEMOCRATIC,Democratic,CA,2018,Standard,GOVERNOR,Open,26504,24886480.29
1,"CHIANG, JOHN",Pending-Top Two Primary,Pending,DEMOCRATIC,Democratic,CA,2018,Standard,GOVERNOR,Open,10017,12574986.45
2,"VILLARAIGOSA, ANTONIO",Pending-Top Two Primary,Pending,DEMOCRATIC,Democratic,CA,2018,Standard,GOVERNOR,Open,2295,9551687.61
3,"COX, JOHN H",Pending-Top Two Primary,Pending,REPUBLICAN,Republican,CA,2018,Standard,GOVERNOR,Open,3090,5115323.11
4,"BECERRA, XAVIER",Pending-Top Two Primary,Pending,DEMOCRATIC,Democratic,CA,2018,Standard,ATTORNEY GENERAL,Incumbent,5764,5027909.01

In [7]:
newsom = pd.read_csv("data/g_newsom.csv")

newsom = newsom.drop(['request', 'Original_Name:token', 'Original_Name:id',
                      'Contributor:token', 'Contributor:id', 'Type_of_Contributor:token', 'Type_of_Contributor:id',
                      'Specific_Business:token', 'Specific_Business:id', 'General_Industry:token',
       'General_Industry:id','Broad_Sector:token',
       'Broad_Sector:id','Amount:token', 'Amount:id','Date:token', 'Date:id','Last_Updated:token',
       'Last_Updated:id','Type_of_Transaction:token',
       'Type_of_Transaction:id', 'Purpose:token',
       'Purpose:id', 'City:token', 'City:id', 'State:token',
       'State:id', 'Zip:token', 'Zip:id', 'In-State:token',
       'In-State:id',], axis=1)

print(newsom.columns)
newsom.head()

Index(['request', 'Original_Name:token', 'Original_Name:id', 'Original_Name',
       'Contributor:token', 'Contributor:id', 'Contributor',
       'Type_of_Contributor:token', 'Type_of_Contributor:id',
       'Type_of_Contributor', 'Specific_Business:token',
       'Specific_Business:id', 'Specific_Business', 'General_Industry:token',
       'General_Industry:id', 'General_Industry', 'Broad_Sector:token',
       'Broad_Sector:id', 'Broad_Sector', 'Amount:token', 'Amount:id',
       'Amount', 'Date:token', 'Date:id', 'Date', 'Last_Updated:token',
       'Last_Updated:id', 'Last_Updated', 'Type_of_Transaction:token',
       'Type_of_Transaction:id', 'Type_of_Transaction', 'Purpose:token',
       'Purpose:id', 'Purpose', 'City:token', 'City:id', 'City', 'State:token',
       'State:id', 'State', 'Zip:token', 'Zip:id', 'Zip', 'In-State:token',
       'In-State:id', 'In-State'],
      dtype='object')

,request,Original_Name:token,Original_Name:id,Original_Name,Contributor:token,Contributor:id,Contributor,Type_of_Contributor:token,Type_of_Contributor:id,Type_of_Contributor,Specific_Business:token,Specific_Business:id,Specific_Business,General_Industry:token,General_Industry:id,General_Industry,Broad_Sector:token,Broad_Sector:id,Broad_Sector,Amount:token,Amount:id,Amount,Date:token,Date:id,Date,Last_Updated:token,Last_Updated:id,Last_Updated,Type_of_Transaction:token,Type_of_Transaction:id,Type_of_Transaction,Purpose:token,Purpose:id,Purpose,City:token,City:id,City,State:token,State:id,State,Zip:token,Zip:id,Zip,In-State:token,In-State:id,In-State
0,c-t-eid=312332&d-id=161864243,d-nme,179200,UNITEMIZED CONTRIBUTIONS,d-eid,21520,UNITEMIZED DONATIONS,d-et,1,Other,d-ccb,427,Contributions under reporting threshold,d-cci,127,Unitemized Contributions,d-ccg,16,Unitemized Contributions,d-amt,409325.42,409325.42,d-dte,NaN,NaN,d-ludte,2017-11-14,2017-11-14,d-typ,10,UI,d-purp,161864243,NaN,d-ad-cty,NaN,NaN,d-ad-st,NaN,NaN,d-ad-zip,NaN,NaN,d-ins,1,1
1,c-t-eid=312332&d-id=28418593,d-nme,356511,DEMOCRATIC STATE CENTRAL COMMITTEE OF CALIFORNIA,d-eid,4807,CALIFORNIA DEMOCRATIC PARTY,d-et,3,Non-Individual,d-ccb,435,Democratic Party committees,d-cci,132,Party Committees,d-ccg,15,Party,d-amt,335000.00,335000.00,d-dte,2010-10-28,2010-10-28,d-ludte,2018-04-11,2018-04-11,d-typ,1,DIR,d-purp,28418593,NaN,d-ad-cty,SACRAMENTO,SACRAMENTO,d-ad-st,CA,CA,d-ad-zip,95811.0,95811.0,d-ins,1,1
2,c-t-eid=312332&d-id=28418397,d-nme,356511,DEMOCRATIC STATE CENTRAL COMMITTEE OF CALIFORNIA,d-eid,4807,CALIFORNIA DEMOCRATIC PARTY,d-et,3,Non-Individual,d-ccb,435,Democratic Party committees,d-cci,132,Party Committees,d-ccg,15,Party,d-amt,325000.00,325000.00,d-dte,2010-10-19,2010-10-19,d-ludte,2018-04-11,2018-04-11,d-typ,1,DIR,d-purp,28418397,NaN,d-ad-cty,SACRAMENTO,SACRAMENTO,d-ad-st,CA,CA,d-ad-zip,95811.0,95811.0,d-ins,1,1
3,c-t-eid=312332&d-id=161859945,d-nme,179200,UNITEMIZED CONTRIBUTIONS,d-eid,21520,UNITEMIZED DONATIONS,d-et,1,Other,d-ccb,427,Contributions under reporting threshold,d-cci,127,Unitemized Contributions,d-ccg,16,Unitemized Contributions,d-amt,235789.82,235789.82,d-dte,NaN,NaN,d-ludte,2017-11-14,2017-11-14,d-typ,10,UI,d-purp,161859945,NaN,d-ad-cty,NaN,NaN,d-ad-st,NaN,NaN,d-ad-zip,NaN,NaN,d-ins,1,1
4,c-t-eid=312332&d-id=164988814,d-nme,179200,UNITEMIZED CONTRIBUTIONS,d-eid,21520,UNITEMIZED DONATIONS,d-et,1,Other,d-ccb,427,Contributions under reporting threshold,d-cci,127,Unitemized Contributions,d-ccg,16,Unitemized Contributions,d-amt,204761.29,204761.29,d-dte,NaN,NaN,d-ludte,2018-03-16,2018-03-16,d-typ,10,UI,d-purp,164988814,NaN,d-ad-cty,NaN,NaN,d-ad-st,NaN,NaN,d-ad-zip,NaN,NaN,d-ins,1,1