### Imports

In [40]:
import pandas as pd
import numpy as np

from pyspark.sql import SparkSession, SQLContext
from itertools import islice

### Build the SparkSession

In [32]:
spark = (SparkSession.builder
         .master("local")
         .appName("Linear Regression Model")
         .config("spark.executor.memory", "1gb")
         .getOrCreate())
   
sc = spark.sparkContext
sql_sc = SQLContext(sc)

### Load data

In [44]:
df_pandas = pd.read_csv("/Users/pbezuhov/git/Kaggle/data/house_prices/train.csv", nrows=10)
df = sql_sc.read.csv("/Users/pbezuhov/git/Kaggle/data/house_prices/train.csv")

In [46]:
df_pandas.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 81 columns):
Id               10 non-null int64
MSSubClass       10 non-null int64
MSZoning         10 non-null object
LotFrontage      9 non-null float64
LotArea          10 non-null int64
Street           10 non-null object
Alley            0 non-null float64
LotShape         10 non-null object
LandContour      10 non-null object
Utilities        10 non-null object
LotConfig        10 non-null object
LandSlope        10 non-null object
Neighborhood     10 non-null object
Condition1       10 non-null object
Condition2       10 non-null object
BldgType         10 non-null object
HouseStyle       10 non-null object
OverallQual      10 non-null int64
OverallCond      10 non-null int64
YearBuilt        10 non-null int64
YearRemodAdd     10 non-null int64
RoofStyle        10 non-null object
RoofMatl         10 non-null object
Exterior1st      10 non-null object
Exterior2nd      10 non-null object
MasVnrType       10 non-null object
MasVnrArea       10 non-null int64
ExterQual        10 non-null object
ExterCond        10 non-null object
Foundation       10 non-null object
BsmtQual         10 non-null object
BsmtCond         10 non-null object
BsmtExposure     10 non-null object
BsmtFinType1     10 non-null object
BsmtFinSF1       10 non-null int64
BsmtFinType2     10 non-null object
BsmtFinSF2       10 non-null int64
BsmtUnfSF        10 non-null int64
TotalBsmtSF      10 non-null int64
Heating          10 non-null object
HeatingQC        10 non-null object
CentralAir       10 non-null object
Electrical       10 non-null object
1stFlrSF         10 non-null int64
2ndFlrSF         10 non-null int64
LowQualFinSF     10 non-null int64
GrLivArea        10 non-null int64
BsmtFullBath     10 non-null int64
BsmtHalfBath     10 non-null int64
FullBath         10 non-null int64
HalfBath         10 non-null int64
BedroomAbvGr     10 non-null int64
KitchenAbvGr     10 non-null int64
KitchenQual      10 non-null object
TotRmsAbvGrd     10 non-null int64
Functional       10 non-null object
Fireplaces       10 non-null int64
FireplaceQu      8 non-null object
GarageType       10 non-null object
GarageYrBlt      10 non-null int64
GarageFinish     10 non-null object
GarageCars       10 non-null int64
GarageArea       10 non-null int64
GarageQual       10 non-null object
GarageCond       10 non-null object
PavedDrive       10 non-null object
WoodDeckSF       10 non-null int64
OpenPorchSF      10 non-null int64
EnclosedPorch    10 non-null int64
3SsnPorch        10 non-null int64
ScreenPorch      10 non-null int64
PoolArea         10 non-null int64
PoolQC           0 non-null float64
Fence            1 non-null object
MiscFeature      2 non-null object
MiscVal          10 non-null int64
MoSold           10 non-null int64
YrSold           10 non-null int64
SaleType         10 non-null object
SaleCondition    10 non-null object
SalePrice        10 non-null int64
dtypes: float64(3), int64(37), object(41)
memory usage: 6.4+ KB

### Look at Schema

In [38]:
df.printSchema()

root
 |-- _c0: string (nullable = true)
 |-- _c1: string (nullable = true)
 |-- _c2: string (nullable = true)
 |-- _c3: string (nullable = true)
 |-- _c4: string (nullable = true)
 |-- _c5: string (nullable = true)
 |-- _c6: string (nullable = true)
 |-- _c7: string (nullable = true)
 |-- _c8: string (nullable = true)
 |-- _c9: string (nullable = true)
 |-- _c10: string (nullable = true)
 |-- _c11: string (nullable = true)
 |-- _c12: string (nullable = true)
 |-- _c13: string (nullable = true)
 |-- _c14: string (nullable = true)
 |-- _c15: string (nullable = true)
 |-- _c16: string (nullable = true)
 |-- _c17: string (nullable = true)
 |-- _c18: string (nullable = true)
 |-- _c19: string (nullable = true)
 |-- _c20: string (nullable = true)
 |-- _c21: string (nullable = true)
 |-- _c22: string (nullable = true)
 |-- _c23: string (nullable = true)
 |-- _c24: string (nullable = true)
 |-- _c25: string (nullable = true)
 |-- _c26: string (nullable = true)
 |-- _c27: string (nullable = true)
 |-- _c28: string (nullable = true)
 |-- _c29: string (nullable = true)
 |-- _c30: string (nullable = true)
 |-- _c31: string (nullable = true)
 |-- _c32: string (nullable = true)
 |-- _c33: string (nullable = true)
 |-- _c34: string (nullable = true)
 |-- _c35: string (nullable = true)
 |-- _c36: string (nullable = true)
 |-- _c37: string (nullable = true)
 |-- _c38: string (nullable = true)
 |-- _c39: string (nullable = true)
 |-- _c40: string (nullable = true)
 |-- _c41: string (nullable = true)
 |-- _c42: string (nullable = true)
 |-- _c43: string (nullable = true)
 |-- _c44: string (nullable = true)
 |-- _c45: string (nullable = true)
 |-- _c46: string (nullable = true)
 |-- _c47: string (nullable = true)
 |-- _c48: string (nullable = true)
 |-- _c49: string (nullable = true)
 |-- _c50: string (nullable = true)
 |-- _c51: string (nullable = true)
 |-- _c52: string (nullable = true)
 |-- _c53: string (nullable = true)
 |-- _c54: string (nullable = true)
 |-- _c55: string (nullable = true)
 |-- _c56: string (nullable = true)
 |-- _c57: string (nullable = true)
 |-- _c58: string (nullable = true)
 |-- _c59: string (nullable = true)
 |-- _c60: string (nullable = true)
 |-- _c61: string (nullable = true)
 |-- _c62: string (nullable = true)
 |-- _c63: string (nullable = true)
 |-- _c64: string (nullable = true)
 |-- _c65: string (nullable = true)
 |-- _c66: string (nullable = true)
 |-- _c67: string (nullable = true)
 |-- _c68: string (nullable = true)
 |-- _c69: string (nullable = true)
 |-- _c70: string (nullable = true)
 |-- _c71: string (nullable = true)
 |-- _c72: string (nullable = true)
 |-- _c73: string (nullable = true)
 |-- _c74: string (nullable = true)
 |-- _c75: string (nullable = true)
 |-- _c76: string (nullable = true)
 |-- _c77: string (nullable = true)
 |-- _c78: string (nullable = true)
 |-- _c79: string (nullable = true)
 |-- _c80: string (nullable = true)

### Cast type

In [54]:
from pyspark.sql.types import IntegerType, BooleanType, FloatType

def convertColumn(df, names, newType):
    for name in names: 
        df = df.withColumn(name, df[name].cast(newType))
    return df 

names = [col for col in df_pandas.columns if df_pandas[col].dtype != object]
df = convertColumn(df, names, FloatType())