### Imports

In [1]:
import pandas as pd
import numpy as np

from pyspark.sql import SparkSession, SQLContext
from itertools import islice

### Build the SparkSession

In [2]:
spark = (SparkSession.builder
         .master("local")
         .appName("Linear Regression Model")
         .config("spark.executor.memory", "1gb")
         .getOrCreate())
   
sc = spark.sparkContext
sql_sc = SQLContext(sc)

### Load data

In [3]:
df_pandas = pd.read_csv("/Users/pbezuhov/git/Kaggle/data/house_prices/train.csv", nrows=10)
df = sql_sc.read.csv("/Users/pbezuhov/git/Kaggle/data/house_prices/train.csv")

### Look at Schema

In [4]:
df.printSchema()

root
 |-- _c0: string (nullable = true)
 |-- _c1: string (nullable = true)
 |-- _c2: string (nullable = true)
 |-- _c3: string (nullable = true)
 |-- _c4: string (nullable = true)
 |-- _c5: string (nullable = true)
 |-- _c6: string (nullable = true)
 |-- _c7: string (nullable = true)
 |-- _c8: string (nullable = true)
 |-- _c9: string (nullable = true)
 |-- _c10: string (nullable = true)
 |-- _c11: string (nullable = true)
 |-- _c12: string (nullable = true)
 |-- _c13: string (nullable = true)
 |-- _c14: string (nullable = true)
 |-- _c15: string (nullable = true)
 |-- _c16: string (nullable = true)
 |-- _c17: string (nullable = true)
 |-- _c18: string (nullable = true)
 |-- _c19: string (nullable = true)
 |-- _c20: string (nullable = true)
 |-- _c21: string (nullable = true)
 |-- _c22: string (nullable = true)
 |-- _c23: string (nullable = true)
 |-- _c24: string (nullable = true)
 |-- _c25: string (nullable = true)
 |-- _c26: string (nullable = true)
 |-- _c27: string (nullable = true)
 |-- _c28: string (nullable = true)
 |-- _c29: string (nullable = true)
 |-- _c30: string (nullable = true)
 |-- _c31: string (nullable = true)
 |-- _c32: string (nullable = true)
 |-- _c33: string (nullable = true)
 |-- _c34: string (nullable = true)
 |-- _c35: string (nullable = true)
 |-- _c36: string (nullable = true)
 |-- _c37: string (nullable = true)
 |-- _c38: string (nullable = true)
 |-- _c39: string (nullable = true)
 |-- _c40: string (nullable = true)
 |-- _c41: string (nullable = true)
 |-- _c42: string (nullable = true)
 |-- _c43: string (nullable = true)
 |-- _c44: string (nullable = true)
 |-- _c45: string (nullable = true)
 |-- _c46: string (nullable = true)
 |-- _c47: string (nullable = true)
 |-- _c48: string (nullable = true)
 |-- _c49: string (nullable = true)
 |-- _c50: string (nullable = true)
 |-- _c51: string (nullable = true)
 |-- _c52: string (nullable = true)
 |-- _c53: string (nullable = true)
 |-- _c54: string (nullable = true)
 |-- _c55: string (nullable = true)
 |-- _c56: string (nullable = true)
 |-- _c57: string (nullable = true)
 |-- _c58: string (nullable = true)
 |-- _c59: string (nullable = true)
 |-- _c60: string (nullable = true)
 |-- _c61: string (nullable = true)
 |-- _c62: string (nullable = true)
 |-- _c63: string (nullable = true)
 |-- _c64: string (nullable = true)
 |-- _c65: string (nullable = true)
 |-- _c66: string (nullable = true)
 |-- _c67: string (nullable = true)
 |-- _c68: string (nullable = true)
 |-- _c69: string (nullable = true)
 |-- _c70: string (nullable = true)
 |-- _c71: string (nullable = true)
 |-- _c72: string (nullable = true)
 |-- _c73: string (nullable = true)
 |-- _c74: string (nullable = true)
 |-- _c75: string (nullable = true)
 |-- _c76: string (nullable = true)
 |-- _c77: string (nullable = true)
 |-- _c78: string (nullable = true)
 |-- _c79: string (nullable = true)
 |-- _c80: string (nullable = true)

### Cast type

In [6]:
# from pyspark.sql.types import IntegerType, BooleanType, FloatType

# def convertColumn(df, names, newType):
#     for name in names: 
#         df = df.withColumn(name, df[name].cast(newType))
#     return df 

# names = [col for col in df_pandas.columns if df_pandas[col].dtype != object]
# df = convertColumn(df, names, FloatType())

### Quit Context

In [7]:
sc.stop()